# Ignore Python cache files
__pycache__/
*.py[cod]
*.so

# Ignore output directory and all its contents
outputs/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env
.venv/
venv/

# Ignore logs
*.log
TEST.py